h1{
    text-align: center;
    font-size: 3rem;
}


form{
    width: 40rem;
    height: auto;
    margin:3rem auto;
    border: black;
    border-radius: 20px;
    background-color:#ECDFCC;
    padding: 30px;
    text-align: center;
}
input{
    height:4rem;
    width:25rem;
    margin-bottom:2rem;
    border-radius: 10px;
    border:none;
    font-size:19px;

}
::placeholder{
    text-align: center;
    font-size:18px;
}
button{
    width:9rem;
    padding: 10px;
    border-radius: 9px;
    border-style:none;
    background-color:#181C14;
    color: white;
}